# Self-Attentive Sequential Recommendation Network

## Francisco Rencoret (fcorencoret) - Francisco PÃ©rez ()

## MovieLens Dataset

In [3]:
import numpy as np
import pandas as pd

In [71]:
data_path = 'data'

In [73]:
ratings = pd.read_csv('%s/ratings.csv'%data_path).sort_values(['userId', 'timestamp'])
print(ratings.describe())
ratings.head(n=10)

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

     userId  movieId  rating  timestamp
43        1      804     4.0  964980499
73        1     1210     5.0  964980499
120       1     2018     5.0  964980523
171       1     2628     4.0  964980523
183       1     2826     4.0  964980523
219       1     3578     5.0  964980668
220       1     3617     4.0  964980683
227       1     3744     4.0  964980694
6         1      101     5.0  964980868
24        1      441     4.0  964980868

In [75]:
ratings.to_csv('prueba.csv', sep=',')

In [70]:
groupby_userId = ratings.groupby('userId').count()
print('Mean Ratings: {}'.format(int(groupby_userId.mean(axis=0)[0])))
print('Min Ratings: {}'.format(groupby_userId.min(axis=0)[0]))
print('Max Ratings: {}'.format(groupby_userId.max(axis=0)[0]))
print('Number of userId Ratings: {}'.format(len(groupby_userId)))

Mean Ratings: 165
Min Ratings: 20
Max Ratings: 2698
Number of userId Ratings: 610

In [68]:
n = 50
n_users = groupby_userId[groupby_userId['movieId'] >= n].count(axis=0)[0]
print('There are {} users with more than {} ratings'.format(n_users, n))

There are 385 users with more than 50 ratings